arrow==1.2.3
attrs==22.1.0
black==22.10.0
distlib==0.3.6
exceptiongroup==1.0.1
filelock==3.8.0
iniconfig==1.1.1
jinja2-time==0.2.0
make==0.1.6.post2
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pluggy==1.0.0
pydantic==1.10.2
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.0
tomli==2.0.1
typing_extensions==4.4.0
virtualenv==20.16.6
